<mat-table #board mat-table [dataSource]="dataSource" class="mat-elevation-z8">

<!--    &lt;!&ndash; Index Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="name" sticky>-->
<!--        <th mat-header-cell *matHeaderCellDef>  </th>-->
<!--        <td mat-cell *matCellDef="let row; index as i;"> {{i +1 }} </td>-->
<!--    </ng-container>-->

    <ng-container *ngFor="let column of displayedColumns" matColumnDef={{column}} >
      <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <button class="mdc-icon-button"
                mat-flat-button
                *ngIf="opponent"
                (click)="fireShot(i, column)"
                [disabled]="gameFinished || hitAlready(i, column) || !shootingEnabled">
            {{getCellIcon(row[column])}}</button>
        <div  *ngIf="!opponent">{{getCellIcon(row[column])}}</div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
