<div *ngIf="dataLoaded">

  <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="type" matSortDirection="asc">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> ID</mat-header-cell>
      <mat-cell *matCellDef="let player" data-label="type"> {{player.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let player" data-label="value"> {{player.name}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let player" data-label="description"> {{player.email}} </mat-cell>
    </ng-container>

    <!-- Play as player -->
    <ng-container matColumnDef="play">
      <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
      <mat-cell *matCellDef="let player" data-label="play">
        <button mat-raised-button color="accent"  routerLink="/games/{{player.id}}">
<!--                (click)="playGames(player.id)">-->
          <mat-icon>casino</mat-icon>
          Games
        </button>
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Disclaimer column -->
    <ng-container matColumnDef="disclaimer">
      <mat-footer-cell *matFooterCellDef colspan="2">
        <span *ngIf="!dataSource.data.length"><i>No data</i></span>
      </mat-footer-cell>
    </ng-container>

    <mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></mat-footer-row>

  </mat-table>
</div>

