<div *ngIf="dataLoaded">

    All games:<br/><br/>
    <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="type" matSortDirection="asc">

      <ng-container matColumnDef="gameId">
        <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> ID</mat-header-cell>
        <mat-cell *matCellDef="let game" data-label="type"> {{game.gameId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="challengingPlayerName">
        <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Challenging player</mat-header-cell>
        <mat-cell *matCellDef="let game" data-label="type"> {{game.challengingPlayerName}}  </mat-cell>
      </ng-container>

      <ng-container matColumnDef="challengingPlayerAutopilot">
        <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Challenging player autopilot</mat-header-cell>
        <mat-cell *matCellDef="let game" data-label="type">
          <button mat-raised-button color="accent"
                  (click)="runAutoPilot(game.challengingPlayerId, game.gameId, game.challengingPlayerName)"
                  [disabled]="game.challengingPlayerAutopilot || game.gameStatus != 'IN_PROGRESS'">
            <mat-icon>repeat</mat-icon>
            Autopilot
          </button></mat-cell>
      </ng-container>

      <ng-container matColumnDef="opponentPlayerName">
        <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Opponent player</mat-header-cell>
        <mat-cell *matCellDef="let game" data-label="type">{{game.opponentPlayerName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opponentPlayerAutopilot">
        <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Opponent player autopilot</mat-header-cell>
        <mat-cell *matCellDef="let game" data-label="type">
          <button mat-raised-button color="accent"
                  (click)="runAutoPilot(game.opponentPlayerId, game.gameId, game.opponentPlayerName)"
                  [disabled]="game.opponentPlayerAutopilot || game.gameStatus != 'IN_PROGRESS'">
            <mat-icon>repeat</mat-icon>
            Autopilot
          </button></mat-cell>
      </ng-container>

      <ng-container matColumnDef="gameStatus">
        <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Status</mat-header-cell>
        <mat-cell *matCellDef="let game" data-label="type"> {{game.gameStatus}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

</div>

<div *ngIf="!dataLoaded">
  <br>No games
</div>
