<div *ngIf="!error && playerLoaded">
    <mat-form-field>
        <mat-label>Play as:</mat-label>
        <mat-select [(value)] ="currentPlayerId" (selectionChange)="playerSelectionChange($event)">
            <mat-option *ngFor="let player of allPlayers" [value]="player.id">
                {{player.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br/> <br/>
    <div *ngIf="opponentPlayersLoaded && currentPlayerId != null">
        Challenge player:
        <form (ngSubmit)="onSubmit()" #challengeForm="ngForm">
            <mat-form-field>
                <mat-label>Opponent:</mat-label>
                <mat-select [(value)] ="opponentPlayerId" required>
                    <mat-option *ngFor="let player of opponentPlayers" [value]="player.id">
                        {{player.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit" [disabled]="opponentPlayerId == null">
                <mat-icon>check</mat-icon>
                Challenge player
            </button>
        </form>
    </div>


    <br/>
    <div *ngIf="gamesLoaded">
        Games:<br/><br/>
        <mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="type" matSortDirection="asc">

            <ng-container matColumnDef="game_id">
                <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> ID</mat-header-cell>
                <mat-cell *matCellDef="let game" data-label="type"> {{game.game_id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="opponentPlayer.name">
                <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Opponent player</mat-header-cell>
                <mat-cell *matCellDef="let game" data-label="type"> {{getPlayerNameById(game.opponent_id)}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef  [ngClass]="'rlcColumnClass'" mat-sort-header> Status</mat-header-cell>
                <mat-cell *matCellDef="let game" data-label="type"> {{game.status}} </mat-cell>
            </ng-container>

            <!-- Play this game -->
            <ng-container matColumnDef="play">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                <mat-cell *matCellDef="let game" data-label="play">
                    <button mat-raised-button color="accent"  routerLink="/games/{{currentPlayerId}}/{{game.game_id}}">
                             <mat-icon>casino</mat-icon>
                        Game
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!-- Disclaimer column -->
            <ng-container matColumnDef="disclaimer">
                <mat-footer-cell *matFooterCellDef colspan="2">
                    <span *ngIf="!dataSource.data.length"><i>No data</i></span>
                </mat-footer-cell>
            </ng-container>

            <mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></mat-footer-row>

        </mat-table>
    </div>
    <div *ngIf="!gamesLoaded">
        <br>No games
    </div>

</div>


<div *ngIf="error">
    Error loading page.
</div>
