  <h2>Game ({{gameId}}) status: {{gameStatus}}</h2>

  <div *ngIf="playerTurn != null">Player turn: {{playerTurn}}. {{boardUpdated}} </div><br>
  <mat-grid-list cols="2">
    <mat-grid-tile  *ngIf="playerLoaded" class="my-grid-tile">
      <mat-grid-tile-header>Opponent board: {{opponentPlayer.name}} ({{opponentPlayer.id}})</mat-grid-tile-header>

      <app-board #opponent
                 [boardPlayer]="gameStatusResponse.opponent"
                 [className]="'board'"
                 [opponent]="true"
                 [playerTurn]="gameStatusResponse.game.player_turn"
                 [playerId]="player.id"
                 [gameFinished]="playerTurn == null"
                 [gameId]="gameId">
      </app-board>
    </mat-grid-tile>
    <mat-grid-tile  *ngIf="playerLoaded" class="my-grid-tile">
      <mat-grid-tile-header>My board: {{player.name}} ({{player.id}})</mat-grid-tile-header>
      <app-board #self
                 [boardPlayer]="gameStatusResponse.self"
                 [className]="'board'"
                 [opponent]="false"
                 [playerTurn]="gameStatusResponse.game.player_turn"
                 [playerId]="player.id"
                 [gameFinished]="playerTurn == null"
                 [gameId]="gameId">
      </app-board>
    </mat-grid-tile>
  </mat-grid-list>


<!--  <i>-->
<!--    <ul>-->
<!--      <li> # - A quadrant taken by part of a ship which has not been hit yet.</li>-->
<!--      <li> O - A quadrant that contains a missed shot.</li>-->
<!--      <li> X - A quadrant taken by part of a ship which was hit by a shot.</li>-->
<!--      <li> . - An empty or unknown quadrant.</li>-->
<!--    </ul>-->
<!--  </i>-->
