mat-form-field{
  width: 100%;
}
button{
  padding-right: 10px;
  padding-right: 5px;
}

.rlc-button-edit{
  width: 120px;
}

::ng-deep .snackBar-fail  .mat-simple-snackbar-action{
  color: red !important;
}

::ng-deep .snackBar-success .mat-simple-snackbar-action{
  color: green !important;
}


