
<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" #playerForm="ngForm">
    <mat-form-field>
      <input matInput [(ngModel)]="player.name" name="name" placeholder="Name" type="text" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="player.email" name="email" placeholder="Email" type="text" required>
    </mat-form-field>

    <br>
    <div fxLayout="row wrap" fxLayoutGap="2px" fxLayoutAlign="flex-start" width="100%">
      <button mat-raised-button color="accent" type="submit" [disabled]="!playerForm.form.valid">
        <mat-icon>check</mat-icon>
        Save
      </button>
    </div>
  </form>
</mat-card>
