<div id="sidebar">
  <mat-nav-list>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/players']">
      <mat-icon class="sidenav-icon">view_list</mat-icon>  {{ 'Players'}}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/register']">
      <mat-icon class="sidenav-icon">create</mat-icon>  {{ 'Create player'}}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/games']">
      <mat-icon class="sidenav-icon">videogame_asset</mat-icon>  {{ 'Games'}}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/autopilot']">
      <mat-icon class="sidenav-icon">airplanemode_active</mat-icon>  {{ 'Autopilot'}}
    </a>
  </mat-nav-list>
</div>
