<mat-toolbar color="primary" class="fix-nav">
  <span class="nav-spacer"></span>
  <button type="button" mat-icon-button class="visible-md">
    <mat-icon aria-label="Side nav toggle icon">copyright</mat-icon> MARKIC GLAVAS 2020
  </button>
</mat-toolbar>
